<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
    title = 'Edit Book',
    content = ~{::section}
)}" xmlns:th="http://www.thymeleaf.org">
    <body>
        <section>
            <h1>Edit Book</h1>
            <form action="#" th:action="@{/books/update/{id}(id = ${id})}" method="post">
                <div th:replace="~{books/book-fields :: book-fields(${bookRequest}, ${fieldErrors})}"></div>
                <input type="submit" value="Update book" />
            </form>
            <form action="#" th:action="@{/books/delete/{id}(id = ${id})}" method="post">
                <div th:replace="~{fragments/delete-button :: delete-button}"></div>
            </form>
        </section>
    </body>
</html>